.mySwiper img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  scale: .7;
  background-color: white;
  height: 150px;
  transform: translateY(-50%);
  padding: 20px 40px;
}

.quickviewInfo::-webkit-scrollbar {
  display: none;
}

.quickviewInfo {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-button-disabled {
  opacity: 1 !important;
}

.swiper-button-disabled::after {
  opacity: .2 !important;
}

.swiper-button-prev {
  width: 40px;
  left: 67%;
  border-top-left-radius: 105px;
  border-bottom-left-radius: 105px;
}

.swiper-button-next {
  border-top-right-radius: 105px;
  border-bottom-right-radius: 105px;
  right: 5%;
  /* padding-right: 20px; */
  width: 40px;
}