.custom-accordion-header {
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.accordion-button:focus {
    box-shadow: none;

    outline: none;

}

#categAccordion .accordion-button {
    border: none;

    font-weight: bold;
    color: #1a1a1a;

}

#categAccordion .accordion-button:not(.collapsed) {
    background-color: #f0f0f0;

    color: #000;

}

#categAccordion .accordion-item {
    border-top: 1px solid #e5e5e5;
    border-radius: 0;

}

#categAccordion .accordion-body {
    padding: 15px;

    background-color: #fff;

}

#categAccordion .accordion-item {
    border: none;

    border-top: 1px solid #e5e5e5;

}

.custom-accordion-body {
    padding: 10px 15px;
    background-color: #f9f9f9;

    color: #333;
}

#categAccordion .accordion-button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}

#categAccordion .accordion-button:not(.collapsed) {
    background-color: #fff;

}

#categAccordion .accordion-body {
    border: none;
    padding: 0;
}

.MuiSlider-rail,
.MuiSlider-track,
.MuiSlider-thumb {
    background-color: #000c2d !important;
    color: #000c2d;
}