:root {
    --dark-color: #000c2d;
    --light-color: #00174f;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

header>div {
    position: relative;
}

#topText {
    background-color: var(--dark-color);
    margin: 0;
    text-align: center;
    color: white;
    padding: 12px 0;
}

#searchCatBtns>button,
#searchCatBtns>a {
    background-color: white;
    color: var(--dark-color);
    font-size: 1.2em;
}

#desltopMainLogo,
#locationBtn,
#desktopNav,
#profileBtn {
    display: none;
}

#locationBtn {
    color: var(--dark-color);
}

#desltopMainLogo {
    padding-left: 110px;
}

#desltopMainLogo>img {
    height: 15px;
}

.moreCat {
    max-height: 0;
    overflow: hidden;
    /* transition: max-height ease-in-out;
    transition-duration: .3s;
    transition-delay: 0s; */
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: white;
    z-index: 2;
    left: 0;
    gap: 140px;

    img {
        height: 300px;
    }
}

.moreCatLinks {
    h4, a {
        color: var(--light-color);
        font-size: 1rem;
    }

    h4 {
        font-weight: bold;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    a{
        font-weight: 400;
    }
}

.cat {
    list-style: none;
    padding: 0 20px 10px 20px;
}

.cat>a {
    color: var(--dark-color);
}

.cat:hover {
    .moreCat {
        max-height: 450px;
        height: 450px;
        padding-top: 40px;
    }
}

#toCartDesk{
    display: none;
}

#toCartDesk, #toCartMobile{
    font-size: 12px;

    span{
        font-size: 12px;
        padding: 0px;
        color: var(--light-color);
        background-color: white !important;
        text-align: right;
    }
}

@media screen and (min-width: 992px) {
    #toHomeImg, #toCartMobile {
        display: none;
    }

    #desltopMainLogo,
    #desktopNav,
    #toCartDesk {
        display: initial;
    }

    #locationBtn {
        display: flex;
    }

    #topHeader {
        max-width: 1450px;
        margin: auto;
    }

    #topHeader {
        padding: 0 20px;
    }

    #hamburgerBtn {
        display: none;
    }

    #profileBtn {
        display: initial;
    }
}