button{
    border: 0;
}

a{
    text-decoration: none;
}

.whiteTxt{
    color: white;
}

.blueBorder{
    border-color: #00174f !important;
}

.bordered{
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 12px;
}