.imageLinks {
    gap: 10px 0;
}

.flinks {
    width: 47%;
    position: relative;
    /* padding-bottom: 50px;

    -webkit-box-shadow: inset 0px -102px 99px -1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -102px 99px -1px rgba(0,0,0,0.75);
box-shadow: inset 0px -102px 99px -1px rgba(0,0,0,0.75); */

    img {
        width: 100%;
    }

    span {
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        min-width: 120px;
        text-align: center;
        min-width: 150px;

        &:hover {
            text-decoration: underline;
        }
    }

}

@media screen and (min-width:768px) {
    .flinks {
        width: 24%;
    }

    .imageLinks {
        gap: 0;
    }
}